@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212;
    background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
    color: #dedede;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
}

.mc-btn {
    box-shadow: inset -4px -4px #0006, inset 4px 4px #ffffff60;
    image-rendering: pixelated;
    border: 2px solid #000;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s;
}

.mc-btn:active {
    box-shadow: inset 4px 4px #0006;
    transform: translateY(2px);
}

.mc-panel {
    background-color: #c6c6c6;
    border: 4px solid #000;
    box-shadow: inset 4px 4px #fff, inset -4px -4px #555;
    color: #222;
}

.mc-input {
    background-color: #333;
    border: 2px solid #fff;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    padding: 0.5rem;
}